<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ImportacionEntities" connectionString="metadata=res://*/Modelo.ModeloImportacion.csdl|res://*/Modelo.ModeloImportacion.ssdl|res://*/Modelo.ModeloImportacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=controller;Initial Catalog=DESARROLLO;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>