<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModeloParametrosOperacion" connectionString="metadata=res://*/Modelo.ModeloParametrosOperacion.csdl|res://*/Modelo.ModeloParametrosOperacion.ssdl|res://*/Modelo.ModeloParametrosOperacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=serversqltest\desaic2016,1877;initial catalog=ICONTROLLER;Integrated Security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>