<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="efMetadataSection" type="Framework.Servidor.Comun.COMetadataConfigurationSectionFramework, Framework.Servidor.Comun" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CO.Controller.Servidor.Integraciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="uriRelativa" value="www.interrapidisimo.com/sitio" />
    <add key="Controller.LDAP.ConnectionUsername" value="interrapidisimo.local\dir.desarrollo" />
    <add key="Controller.LDAP.ConnectionPassword" value="w.garcia43@" />
		<add key="Controller.LDAP.AttributeMapUsername" value="SAMAccountName" />
		<add key="controller.MaximoRequestAuditoria" value="1" />
		<add key="Controller.RutaDescargaArchivos" value="C:\archivosDescargados" />
	</appSettings>
	<efMetadataSection name="SqlClient">
		<metadatamodel name="ModeloSeguridad" metadata="res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.csdl|res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.ssdl|res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.msl" connectionString="ControllerTransaccional" />
		<metadatamodel name="ModeloExcepciones" metadata="res://*/Modelo.ModeloExcepciones.csdl|res://*/Modelo.ModeloExcepciones.ssdl|res://*/Modelo.ModeloExcepciones.msl" connectionString="ControllerExcepciones" />
		<metadatamodel name="ModeloVersion" metadata="res://*/Framework.Servidor.Versionamiento.Modelo.ModeloVersion.csdl|res://*/Framework.Servidor.Versionamiento.Modelo.ModeloVersion.ssdl|res://*/Framework.Servidor.Versionamiento.Modelo.ModeloVersion.msl" connectionString="ControllerTransaccional" />
		<metadatamodel name="ModeloAgenda" metadata="res://*/Modelo.ModeloAgenda.csdl|res://*/Modelo.ModeloAgenda.ssdl|res://*/Modelo.ModeloAgenda.msl" connectionString="ControllerTransaccional" />
		<metadatamodel name="ModeloParametros" metadata="res://*/Modelo.ModeloParametros.csdl|res://*/Modelo.ModeloParametros.ssdl|res://*/Modelo.ModeloParametros.msl" connectionString="ControllerTransaccional" />
		<metadatamodel name="ModeloMensajeria" metadata="res://*/Modelo.ModeloMensajeria.csdl|res://*/Modelo.ModeloMensajeria.ssdl|res://*/Modelo.ModeloMensajeria.msl" connectionString="ControllerTransaccional" />
	</efMetadataSection>
	<connectionStrings>



    <!--<add name="ControllerTransaccional"  connectionString="Server=190.60.249.215,60462;initial catalog=ICONTROLLER2014;user id=controllerdesarrollo; password=Desarrollo2014***;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->


    <!--Desarrollo-->

    <add name="ControllerTransaccional"  connectionString="Data Source=serversqltest\desaic2016,1877;Initial Catalog=Icontroller;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="ControllerExcepciones"  connectionString="Data Source=serversqltest\desaic2016,1877;Initial Catalog=ControllerAuditoria;Integrated Security=True;" providerName="System.Data.SqlClient"/>


    <!--Pruebas-->
    <!--<add name="ControllerTransaccional"  connectionString="Server=172.20.10.162,1430\sqlserverpruebas;initial catalog=Pruebas_Icontroller_new;user id=usrDesarrollo; password=Interbdpruebas789*;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
			<add name="ControllerExcepciones"  connectionString="Server=172.20.10.162,1430\sqlserverpruebas;initial catalog=ControllerAuditoria;user id=usrDesarrollo; password=Interbdpruebas789*;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->


    <!--PRODUCCION-->
    <!--<add name="ControllerTransaccional" connectionString="Server=172.20.10.157,1433;initial catalog=IController;user id=usrbdmaster; password=InterS1st3m4s2014*-+;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ControllerExcepciones" connectionString="Server=172.20.10.157,1433;initial catalog=ControllerAuditoria;user id=usrbdmaster; password=InterS1st3m4s2014*-+;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="ControllerTiempoDigitalizacionArchivo"  connectionString="Server=172.20.10.157,1433;initial catalog=Reportes;user id=usrbdmaster; password=InterS1st3m4s2014*-+;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!--<add name="ControllerArchivo" connectionString="Server=190.60.249.215,60462;initial catalog=ArchivoController; user id=controllerdesarrollo; Password=Desarrollo2014***;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="ControllerArchivo"  connectionString="Data Source=serversqltest\desaic2016,1877;Initial Catalog=IcontrollerHistorico;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="ControllerArchivo" connectionString="Server=172.20.10.162,1430\sqlserverpruebas;initial catalog=Desarrollo_Icontroller;user id=usrDesarrollo; password=Interbdpruebas789*;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="LDAPConnection" connectionString="LDAP://interrapidisimo.local/OU=interrapidisimo.com,DC=interrapidisimo,DC=local" providerName="" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!--
        0 - Disabled
        1 - Enabled
        -->
      <add name="ABooleanSwitch" value="1" />
      <!--
        0 - Disabled
        1 - Gives error messages
        2 - Gives errors and warnings
        3 - Gives more detailed error information
        4 - Gives verbose trace information
        -->
      <add name="Auditoria" value="3" />
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="DBTL" type="Framework.Servidor.Excepciones.EntityTraceListener, Framework.Servidor.Excepciones" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="silverlightFaults" type="Framework.Servidor.Excepciones.SilverlightFaultBehavior, Framework.Servidor.Excepciones, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="seguridadFaults" type="Framework.Servidor.Excepciones.SeguridadFaultBehavior, Framework.Servidor.Excepciones, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="FaultSesion" type="Framework.Servidor.Excepciones.FaultBehaviorSesion, Framework.Servidor.Excepciones, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="Framework.Servidor.Servicios.Implementacion.VEVersionamientoSvc" relativeAddress="VEVersionamiento.svc" />
        <add service="Framework.Servidor.Servicios.Implementacion.SEAutenticacionSvc" relativeAddress="SEAutenticacion.svc" />
        <add service="Framework.Servidor.Servicios.Implementacion.PAParametrosFrameworkSvc" relativeAddress="PAParametrosFW.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service behaviorConfiguration="BehaviorGeneral" name="Framework.Servidor.Servicios.Implementacion.SEAutenticacionSvc">
        <endpoint address="" behaviorConfiguration="SeguridadFaultBehavior" binding="basicHttpBinding" bindingConfiguration="secureBasic" contract="Framework.Servidor.Servicios.Contratos.ISEAutenticacionSvc" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BehaviorGeneral" name="Framework.Servidor.Servicios.Implementacion.PAParametrosFrameworkSvc">
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="basicHttpBinding" bindingConfiguration="secureBasic" contract="Framework.Servidor.Servicios.Contratos.IPAParametrosFramework" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BehaviorGeneral" name="Framework.Servidor.Servicios.Implementacion.VEVersionamientoSvc">
        <endpoint address="" behaviorConfiguration="FaultBehaviorSesion" binding="basicHttpBinding" bindingConfiguration="secureBasic" contract="Framework.Servidor.Servicios.Contratos.IVEVersionamientoSvc" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BehaviorGeneral" name="Framework.Servidor.Servicios.Implementacion.Seguridad.SEAdministracionSegurdadSvc">
        <endpoint address="" behaviorConfiguration="FaultBehaviorSesion" binding="basicHttpBinding" bindingConfiguration="secureBasic" contract="Framework.Servidor.Servicios.Contratos.ISEAdministracionSeguridadSvc" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="BehaviorGeneral">
          <!--<serviceMetadata httpGetEnabled="true" />-->
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SilverlightFaultBehavior">
          <silverlightFaults />
        </behavior>
        <behavior name="SeguridadFaultBehavior">
          <seguridadFaults />
        </behavior>
        <behavior name="FaultBehaviorSesion">
          <FaultSesion />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="secureBasic">
          <security mode="Transport" />
        </binding>
        <binding name="CurrencyConvertorSoap" closeTimeout="00:01:00"
                openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                    realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/currencyconvertor.asmx"
                 binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorSoap"
                 contract="ConversorWebServiceX.CurrencyConvertorSoap" name="CurrencyConvertorSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
  </applicationSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add verb="*" path="*.xaps" name="CO.Servidor.Controller.Web.XAPHandler" type="CO.Servidor.Controller.Web.XAPHandler" />
    </handlers>
  </system.webServer>
</configuration>