<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CO.Servidor.Integraciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CO.Servidor.Integraciones.Properties.Settings>
            <setting name="CO_Servidor_Integraciones_WRSispostal_sispostal1" serializeAs="String">
                <value>http://190.85.35.205/ws_sispostal/service.asmx</value>
            </setting>
        </CO.Servidor.Integraciones.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSSeguridadSoapBinding">
          <security mode="None" />
        </binding>
        <binding name="WSSeguridadSoapBinding1" />
        <binding name="sispostal1Soap" />
        <binding name="WSControlTraficoSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="sispostal1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://proxynp.unique-yanbal.com/integraciontest/WSSeguridadWeb/WSSeguridadService"
        binding="basicHttpBinding" bindingConfiguration="WSSeguridadSoapBinding"
        contract="ServicioSeguridadYanbal.WSSeguridadTokenImpl" />
      <endpoint address="http://190.85.35.205/ws_sispostal/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="sispostal1Soap"
        contract="WSSispostal.sispostal1Soap" name="sispostal1Soap" />
      <endpoint address="http://190.85.35.205/ws_sispostal/service.asmx"
        binding="customBinding" bindingConfiguration="sispostal1Soap12"
        contract="WSSispostal.sispostal1Soap" name="sispostal1Soap12" />
      <endpoint address="http://webcloud.satrack.com/WebServiceControlTrafico/WSControlTrafico.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSControlTraficoSoap"
        contract="ServicioTraficoSatrack.WSControlTraficoSoap" name="WSControlTraficoSoap" />
    </client>
  </system.serviceModel>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
</configuration>
