<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <section name="efMetadataSection" type="Framework.Servidor.Comun.COMetadataConfigurationSectionFramework, Framework.Servidor.Comun"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!--<add key="owin:AutomaticAppStartup" value="false" />-->
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--<add key="controller.MaximoRequestAuditoria" value="1" />-->
    <add key="Controller.LDAP.ConnectionUsername" value="interrapidisimo.local\dir.desarrollo"/>
    <add key="Controller.LDAP.ConnectionPassword" value="w.garcia43@"/>
    <add key="Controller.LDAP.AttributeMapUsername" value="SAMAccountName"/>
    <add key="controller.MaximoRequestAuditoria" value="1"/>
    <add key="Controller.RutaDescargaArchivos" value="C:\archivosDescargados"/>
    <add key="Controller.RutaArchivosDivulgacion" value="C:\archivosDivulgacion"/>
    <add key="Controller.RutaImagenesServidorSispostal" value="http://172.20.10.9:85/consultas/imag/"/>
    <add key="App.RutaImagenesServidorSispostal" value="\\172.20.10.159\imagenes\"/>
    <!--sispostal-->
    <add key="UsuarioSispostal" value="usretb"/>
    <add key="PasswordSispostal" value="51573m45"/>
  </appSettings>
  <efMetadataSection name="SqlClient">
    <metadatamodel name="ModeloSeguridad" metadata="res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.csdl|res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.ssdl|res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloExcepciones" metadata="res://*/Modelo.ModeloExcepciones.csdl|res://*/Modelo.ModeloExcepciones.ssdl|res://*/Modelo.ModeloExcepciones.msl" connectionString="ControllerExcepciones"/>
    <metadatamodel name="ModeloVersion" metadata="res://*/Modelo.ModeloVersion.csdl|res://*/Modelo.ModeloVersion.ssdl|res://*/Modelo.ModeloVersion.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloAgenda" metadata="res://*/Modelo.ModeloAgenda.csdl|res://*/Modelo.ModeloAgenda.ssdl|res://*/Modelo.ModeloAgenda.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloAgencias" metadata="res://*/Modelo.ModeloAgencias.csdl|res://*/Modelo.ModeloAgencias.ssdl|res://*/Modelo.ModeloAgencias.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloParametros" metadata="res://*/Modelo.ModeloParametros.csdl|res://*/Modelo.ModeloParametros.ssdl|res://*/Modelo.ModeloParametros.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloMensajeria" metadata="res://*/Framework.Servidor.Mensajeria.Datos.Modelo.ModeloMensajeria.csdl|res://*/Framework.Servidor.Mensajeria.Datos.Modelo.ModeloMensajeria.ssdl|res://*/Framework.Servidor.Mensajeria.Datos.Modelo.ModeloMensajeria.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloTarifas" metadata="res://*/CO.Servidor.Tarifas.Datos.Modelo.ModeloTarifas.csdl|res://*/CO.Servidor.Tarifas.Datos.Modelo.ModeloTarifas.ssdl|res://*/CO.Servidor.Tarifas.Datos.Modelo.ModeloTarifas.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloCentroServicios" metadata="res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.csdl|res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.ssdl|res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ImportacionEntities" metadata="res://*/Modelo.ModeloImportacion.csdl|res://*/Modelo.ModeloImportacion.ssdl|res://*/Modelo.ModeloImportacion.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloClientes" metadata=" res://*/CO.Servidor.Clientes.Datos.Modelo.ModeloClientes.csdl|res://*/CO.Servidor.Clientes.Datos.Modelo.ModeloClientes.ssdl|res://*/CO.Servidor.Clientes.Datos.Modelo.ModeloClientes.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloCentroServicios" metadata="res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.csdl|res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.ssdl|res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloVentaGiros" metadata="res://*/CO.Servidor.Admisiones.Giros.Datos.Modelo.ModeloVentaGiros.csdl|res://*/CO.Servidor.Admisiones.Giros.Datos.Modelo.ModeloVentaGiros.ssdl|res://*/CO.Servidor.Admisiones.Giros.Datos.Modelo.ModeloVentaGiros.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloSolicitudes" metadata="res://*/CO.Servidor.Solicitudes.Datos.Modelo.ModeloSolicitudes.csdl|res://*/CO.Servidor.Solicitudes.Datos.Modelo.ModeloSolicitudes.ssdl|res://*/CO.Servidor.Solicitudes.Datos.Modelo.ModeloSolicitudes.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloSuministros" metadata="res://CO.Servidor.Suministros.Datos/Modelo.ModeloSuministros.csdl|res://CO.Servidor.Suministros.Datos/Modelo.ModeloSuministros.ssdl|res://CO.Servidor.Suministros.Datos/Modelo.ModeloSuministros.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="EntidadesAdmisionesMensajeria" metadata="res://*/CO.Servidor.Adminisiones.Mensajeria.Datos.Modelo.ModeloAdmisionesMensajeria.csdl|res://*/CO.Servidor.Adminisiones.Mensajeria.Datos.Modelo.ModeloAdmisionesMensajeria.ssdl|res://*/CO.Servidor.Adminisiones.Mensajeria.Datos.Modelo.ModeloAdmisionesMensajeria.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloComisiones" metadata="res://*/CO.Servidor.Comisiones.Datos.Modelo.ModeloComisiones.csdl|res://*/CO.Servidor.Comisiones.Datos.Modelo.ModeloComisiones.ssdl|res://*/CO.Servidor.Comisiones.Datos.Modelo.ModeloComisiones.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloOperacionUrbana" metadata="res://*/CO.Servidor.OperacionUrbana.Datos.Modelo.ModeloOperacionUrbana.csdl|res://*/CO.Servidor.OperacionUrbana.Datos.Modelo.ModeloOperacionUrbana.ssdl|res://*/CO.Servidor.OperacionUrbana.Datos.Modelo.ModeloOperacionUrbana.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloRutas" metadata="res://*/CO.Servidor.Rutas.Datos.Modelo.ModeloRutas.csdl|res://*/CO.Servidor.Rutas.Datos.Modelo.ModeloRutas.ssdl|res://*/CO.Servidor.Rutas.Datos.Modelo.ModeloRutas.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloCajas" metadata="res://*/CO.Servidor.Cajas.Datos.Modelo.ModeloCajas.csdl|res://*/CO.Servidor.Cajas.Datos.Modelo.ModeloCajas.ssdl|res://*/CO.Servidor.Cajas.Datos.Modelo.ModeloCajas.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloLogisticaInversa" metadata="res://*/CO.Servidor.LogisticaInversa.Datos.Modelo.ModeloLogisticaInversa.csdl|res://*/CO.Servidor.LogisticaInversa.Datos.Modelo.ModeloLogisticaInversa.ssdl|res://*/CO.Servidor.LogisticaInversa.Datos.Modelo.ModeloLogisticaInversa.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloParametrosOperacion" metadata="res://*/Modelo.ModeloParametrosOperacion.csdl|res://*/Modelo.ModeloParametrosOperacion.ssdl|res://*/Modelo.ModeloParametrosOperacion.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloExploradorGiros" metadata="res://*/CO.Servidor.ExploradorGiros.Datos.Modelo.ModeloExploradorGiros.csdl|res://*/CO.Servidor.ExploradorGiros.Datos.Modelo.ModeloExploradorGiros.ssdl|res://*/CO.Servidor.ExploradorGiros.Datos.Modelo.ModeloExploradorGiros.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="EstadosGuiaEntities" metadata="res://*/CO.Servidor.Dominio.Comun.AdmEstadosGuia.Datos.Modelo.ModeloEstadoGuia.csdl|res://*/CO.Servidor.Dominio.Comun.AdmEstadosGuia.Datos.Modelo.ModeloEstadoGuia.ssdl|res://*/CO.Servidor.Dominio.Comun.AdmEstadosGuia.Datos.Modelo.ModeloEstadoGuia.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloOperacionNacional" metadata="res://*/Modelo.ModeloOperacionNacional.csdl|res://*/Modelo.ModeloOperacionNacional.ssdl|res://*/Modelo.ModeloOperacionNacional.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloProduccion" metadata="res://*/CO.Servidor.Produccion.Datos.Modelo.ModeloProduccion.csdl|res://*/CO.Servidor.Produccion.Datos.Modelo.ModeloProduccion.ssdl|res://*/CO.Servidor.Produccion.Datos.Modelo.ModeloProduccion.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloReportes" metadata="res://*/Framework.Servidor.Reportes.Datos.Modelo.ModeloReportes.csdl|res://*/Framework.Servidor.Reportes.Datos.Modelo.ModeloReportes.ssdl|res://*/Framework.Servidor.Reportes.Datos.Modelo.ModeloReportes.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloPagosManuales" metadata="res://*/CO.Servidor.PagosManuales.Datos.Modelo.ModeloPagosManuales.csdl|res://*/CO.Servidor.PagosManuales.Datos.Modelo.ModeloPagosManuales.ssdl|res://*/CO.Servidor.PagosManuales.Datos.Modelo.ModeloPagosManuales.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloFacturacion" metadata="res://*/CO.Servidor.Facturacion.Datos.Modelo.ModeloFacturacion.csdl|res://*/CO.Servidor.Facturacion.Datos.Modelo.ModeloFacturacion.ssdl|res://*/CO.Servidor.Facturacion.Datos.Modelo.ModeloFacturacion.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloControlCuentas" metadata="res://*/CO.Servidor.ControlCuentas.Datos.Modelo.ModeloControlCuentas.csdl|res://*/CO.Servidor.ControlCuentas.Datos.Modelo.ModeloControlCuentas.ssdl|res://*/CO.Servidor.ControlCuentas.Datos.Modelo.ModeloControlCuentas.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloReglasLogisticaInversa" metadata="res://*/CO.Servidor.LogisticaInversa.Reglas.Modelo.ModeloReglasLogisticaInversa.csdl|res://*/CO.Servidor.LogisticaInversa.Reglas.Modelo.ModeloReglasLogisticaInversa.ssdl|res://*/CO.Servidor.LogisticaInversa.Reglas.Modelo.ModeloReglasLogisticaInversa.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloConfiguracionGiros" metadata="res://*/CO.Servidor.GestionGiros.Configuracion.Datos.Modelo.ModeloConfiguracionGiros.csdl|res://*/CO.Servidor.GestionGiros.Configuracion.Datos.Modelo.ModeloConfiguracionGiros.ssdl|res://*/CO.Servidor.GestionGiros.Configuracion.Datos.Modelo.ModeloConfiguracionGiros.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloAreas" metadata="res://*/CO.Servidor.Areas.Datos.Modelo.ModeloAreas.csdl|res://*/CO.Servidor.Areas.Datos.Modelo.ModeloAreas.ssdl|res://*/CO.Servidor.Areas.Datos.Modelo.ModeloAreas.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloTelemercadeoGiros" metadata="res://*/CO.Servidor.Telemercadeo.Giros.Datos.Modelo.ModeloTelemercadeoGiros.csdl|res://*/CO.Servidor.Telemercadeo.Giros.Datos.Modelo.ModeloTelemercadeoGiros.ssdl|res://*/CO.Servidor.Telemercadeo.Giros.Datos.Modelo.ModeloTelemercadeoGiros.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloServicioalCliente" metadata="res://*/CO.Servidor.ServicioalCliente.Datos.Modelo.ModeloServicioalCliente.csdl|res://*/CO.Servidor.ServicioalCliente.Datos.Modelo.ModeloServicioalCliente.ssdl|res://*/CO.Servidor.ServicioalCliente.Datos.Modelo.ModeloServicioalCliente.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloEstadosConsolidados" metadata="res://*/Datos.Modelo.ModeloEstadosConsolidados.csdl|res://*/Datos.Modelo.ModeloEstadosConsolidados.ssdl|res://*/Datos.Modelo.ModeloEstadosConsolidados.msl" connectionString="ControllerTransaccional"/>
    <metadatamodel name="ModeloCuatroSieteDos" metadata="res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.csdl|res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.ssdl|res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.msl" connectionString="ControllerTransaccional"/>
  </efMetadataSection>
  <connectionStrings>
    <!--Desarrollo-->
    <add name="ConnectionSeguridad" connectionString="server=serversqltest\desaic2016,1877;initial catalog=ISeguridad;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient"/>
    <add name="controllertransaccional" connectionString="server=serversqltest\desaic2016,1877;initial catalog=IController;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient"/>
    <!--<add name="controllertransaccional" connectionString="server=serversqltest\TESTIC2016,1527;initial catalog=IController;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />-->
    <add name="rapsTransaccional" connectionString="server=serversqltest\desaic2016,1877;initial catalog=RAPS2;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient"/>
    <add name="novasoftTransaccional" connectionString="server=serversqltest\desaic2016,1877;initial catalog=NOVASOFT;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient"/>
    <add name="ControllerExcepciones" connectionString="server=serversqltest\desaic2016,1877;initial catalog=ControllerAuditoria;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient"/>
    <!--<add name="ConSincronizacion" connectionString="server=serversqltest\desaic2016,1877;initial catalog=ICONTROLLER;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient" />-->
    <add name="ConSincronizacion" connectionString="server=serversqltest\TESTIC2016,1527;initial catalog=ICONTROLLER;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient"/>
    <add name="ControllerTiempoDigitalizacionArchivo" connectionString="Server=172.20.10.157,1433;initial catalog=Reportes;user id=usrbdmaster; password=InterS1st3m4s2014*-+;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="mensajero" connectionString="server=192.168.1.8;User Id=root;password=-pdTruthis1!;Persist Security Info=True;port=4406;database=mensajero;AutoEnlist=false" providerName="MySql.Data.MySqlClient"/>
    <add name="IntegracionController" connectionString="metadata=res://*/AccesoDatos.Controller.ModeloController.csdl|res://*/AccesoDatos.Controller.ModeloController.ssdl|res://*/AccesoDatos.Controller.ModeloController.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CONTROLLER;Initial Catalog=DESARROLLO;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Sispostal" connectionString="Server=SISPOSTALDB,1430;initial catalog=DB_SISPOSTAL_Agosto;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="ControllerArchivo" connectionString="Server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=ArchivoController;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <!--<add name="ControllerArchivo" connectionString="Server=172.20.10.162,1430\sqlserverpruebas;initial catalog=ArchivoController; user id=usrDesarrollo; Password=Interbdpruebas789*;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="PorController" connectionString="server=serversqltest\desaic2016,1877;initial catalog=IController;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-CO.Servidor.Servicios.WebApi-20150902103639.mdf;Initial Catalog=aspnet-CO.Servidor.Servicios.WebApi-20150902103639;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    <!--Pruebas-->
    <!--<add name="ControllerExcepciones" connectionString="Server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=ControllerAuditoria;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ControllerTransaccional" connectionString="Server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=Icontroller;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="rapsTransaccional" connectionString="server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=Raps2;user id=UsrPreProd; password=usrPreProd2016;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
    <add name="LDAPConnection" connectionString="LDAP://interrapidisimo.local/OU=interrapidisimo.com,DC=interrapidisimo,DC=local" providerName="" />
    <add name="ControllerArchivo" connectionString="Server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=ArchivoController;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ControllerTiempoDigitalizacionArchivo" connectionString="Server=172.20.10.157,1433;initial catalog=Reportes;user id=usrbdmaster; password=InterS1st3m4s2014*-+;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConSincronizacion" connectionString="Server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=Icontroller;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PorController" connectionString="Server=poscontroller;initial catalog=Icontroller;user id=usrbdmaster; password=InterS1st3m4s2014*-+;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Sispostal" connectionString="Server=NODOB\REPORTESBI;initial catalog=DB_SISPOSTAL_RPT;user id=usrDesarrolloSYSPOSTAL;Password=Des1spo12017;MultipleActiveResultSets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConnectionSeguridad" connectionString="server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=ISeguridad;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient" />
    <add name="novasoftTransaccional" connectionString="Data Source=serversqltest\desaic2016,1877;Initial Catalog=NOVASOFT;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--<connectionStrings>

    <add name="ControllerTransaccional" connectionString="Server=172.20.10.157;initial catalog=ICONTROLLER;user id=InterApliCFun;pwd=2Y5L6qFiIir2lxNcZkgL;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ControllerExcepciones" connectionString="Server=172.20.10.157;initial catalog=ControllerAuditoria;user id=InterApliCFun;pwd=2Y5L6qFiIir2lxNcZkgL;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />

    <add name="rapsTransaccional" connectionString="server=172.20.10.9,1430;initial catalog=RAPS2;user id=InterAplRafun; password=jj9OYTaNL8dQvGZ1Q727;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />    
    <add name="LDAPConnection" connectionString="LDAP://controller.com/CN=Users,DC=controller,DC=com" providerName="" />
    <add name="ControllerArchivo" connectionString="Server=172.20.10.157;initial catalog=ArchivoController;user id=InterApliCFun;pwd=2Y5L6qFiIir2lxNcZkgL;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ControllerTiempoDigitalizacionArchivo" connectionString="Server=172.20.10.157,1433;initial catalog=Reportes;user id=InterApliCFun;pwd=2Y5L6qFiIir2lxNcZkgL;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConSincronizacion" connectionString="Server=172.20.10.157,1433;initial catalog=ICONTROLLER;user id=InterApliCFun;pwd=2Y5L6qFiIir2lxNcZkgL;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="PorController"  connectionString="Server=poscontroller;initial catalog=Icontroller;user id=InterApliCFun;pwd=2Y5L6qFiIir2lxNcZkgL;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Sispostal" connectionString="Server=172.20.10.9,1430;initial catalog=db_Sispostal; user id=Intersisfunsql;Password=M34EHRbUmkzjv3TxAfA6.;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConnectionSeguridad" connectionString="Server=sispostaldb,1430;initial catalog=ISEGURIDAD;user id=InterAplRafun; password=jj9OYTaNL8dQvGZ1Q727;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="novasoftTransaccional" connectionString="server=NOVASOFTDB;initial catalog=NOVASOFT;user id=Interapli_novfun; password=JnJiJWqLhWkegaT72Zgj;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
    
    <add name="mensajero" connectionString="server=192.168.1.8;User Id=root;password=-pdTruthis1!;Persist Security Info=True;port=4406;database=mensajero;AutoEnlist=false" providerName="MySql.Data.MySqlClient" />
    <add name="IntegracionController" connectionString="metadata=res://*/AccesoDatos.Controller.ModeloController.csdl|res://*/AccesoDatos.Controller.ModeloController.ssdl|res://*/AccesoDatos.Controller.ModeloController.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CONTROLLER;Initial Catalog=DESARROLLO;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    
  </connectionStrings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <authentication mode="None"/>
    <httpRuntime maxUrlLength="5500" executionTimeout="3600" maxQueryStringLength="5500"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <!--<webSocket enabled="false"/>-->
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxQueryString="5000"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules runAllManagedModulesForAllRequests="true" />-->
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE"/>
        <add name="Access-Control-Allow-Headers" value="*"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="sispostal1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://190.85.35.205/ws_sispostal/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="sispostal1Soap"
        contract="WSSispostal.sispostal1Soap" name="sispostal1Soap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>