<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModeloVentaGiros" connectionString="metadata=.\Modelo\ModeloVentaGiros.csdl|.\Modelo\ModeloVentaGiros.ssdl|.\Modelo\ModeloVentaGiros.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.117.156.246;initial catalog=DESARROLLO;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>