<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModeloProduccion" connectionString="metadata=.\Modelo\ModeloProduccion.csdl|.\Modelo\ModeloProduccion.ssdl|.\Modelo\ModeloProduccion.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=190.60.249.215,60462;Initial Catalog=ICONTROLLER;user id=controllerdesarrollo; password=Desarrollo2014***;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>