<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModeloRutas" connectionString="metadata=res://*/Modelo.ModeloRutas.csdl|res://*/Modelo.ModeloRutas.ssdl|res://*/Modelo.ModeloRutas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.10.157;initial catalog=ICONTROLLERX2423;user id=produccion;password=produccion;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>