<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="getEventsSoap" />
                <binding name="getEventsSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webcloud2.satrack.com/WebServiceEventos/GetEvents.asmx"
                binding="basicHttpBinding" bindingConfiguration="getEventsSoap"
                contract="misEventosSatrack.getEventsSoap" name="getEventsSoap" />
            <endpoint address="http://webcloud2.satrack.com/WebServiceEventos/GetEvents.asmx"
                binding="basicHttpBinding" bindingConfiguration="getEventsSoap1"
                contract="misEventosSatrack.getEventsSoap" name="getEventsSoap1" />
        </client>
    </system.serviceModel>
</configuration>