<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModeloTelemercadeoGiros" connectionString="metadata=.\Modelo\ModeloTelemercadeoGiros.csdl|.\Modelo\ModeloTelemercadeoGiros.ssdl|.\Modelo\ModeloTelemercadeoGiros.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=controller;Initial Catalog=DESARROLLO;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>