<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="efMetadataSection" type="Framework.Servidor.Comun.COMetadataConfigurationSectionFramework, Framework.Servidor.Comun" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CO.Controller.Servidor.Integraciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <efMetadataSection name="SqlClient">
    <metadatamodel name="ModeloExcepciones" metadata="res://*/Modelo.ModeloExcepciones.csdl|res://*/Modelo.ModeloExcepciones.ssdl|res://*/Modelo.ModeloExcepciones.msl" connectionString="ControllerExcepciones" />
    <metadatamodel name="ModeloParametros" metadata="res://*/Modelo.ModeloParametros.csdl|res://*/Modelo.ModeloParametros.ssdl|res://*/Modelo.ModeloParametros.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloCuatroSieteDos"  metadata="res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.csdl|res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.ssdl|res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.msl" connectionString="ControllerTransaccional" />
  </efMetadataSection>

  <connectionStrings>
    <add name="ControllerTransaccional"  connectionString="Server=201.228.147.105;initial catalog=ICONTROLLER;user id=usrdesarrollo3;Password=Interdesarrollo987*;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ControllerExcepciones" connectionString="Server=201.228.147.105;initial catalog=ICONTROLLER;user id=usrdesarrollo3;Password=Interdesarrollo987*;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <system.serviceModel>
    <bindings>
    </bindings>
    <client>
    </client>
  </system.serviceModel>

  <applicationSettings>
    <CO.Controller.Servidor.Integraciones.Properties.Settings>
      <setting name="CO_Controller_Servidor_Integraciones_ServicioWeb472_WebService_WS_472"
        serializeAs="String">
        <value>http://190.144.211.225/WS_472.asmx</value>
      </setting>
    </CO.Controller.Servidor.Integraciones.Properties.Settings>
  </applicationSettings>


</configuration>