<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CO.Controller.Servidor.Integraciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ModeloCuatroSieteDos" connectionString="metadata=res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.csdl|res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.ssdl|res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=controller;initial catalog=desarrollo;persist security info=True;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <CO.Controller.Servidor.Integraciones.Properties.Settings>
      <setting name="CO_Controller_Servidor_Integraciones_ServicioWeb472_WebService_WS_472" serializeAs="String">
        <value>http://190.144.211.225/WS_472.asmx</value>
      </setting>
    </CO.Controller.Servidor.Integraciones.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>