<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EstadosGuiaEntities" connectionString="metadata=res://*/Datos.Modelo.ModeloEstadoGuia.csdl|res://*/Datos.Modelo.ModeloEstadoGuia.ssdl|res://*/Datos.Modelo.ModeloEstadoGuia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=190.60.249.215,60462;initial catalog=ICONTROLLER;user id=controllerdesarrollo;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>