<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="efMetadataSection" type="Framework.Servidor.Comun.COMetadataConfigurationSectionFramework, NFramework.Servidor.Comun" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ControllerTransaccional" connectionString="#{ControllerTransaccional}" providerName="system.data.sqlclient" />
    <add name="EstructuraNegocio" connectionString="#{EstructuraNegocio}" providerName="system.data.sqlclient" />
    <add name="ConnectionSeguridad" connectionString="#{ConnectionSeguridad}" providerName="System.Data.SqlClient" />
    <add name="ControllerExcepciones" connectionString="#{ControllerExcepciones}" providerName="System.Data.SqlClient" />
    <add name="INegocio" connectionString="#{INegocio}" />
    <add name="Preenvios" connectionString="#{Preenvios}" />    
  </connectionStrings>
  <appSettings>
    <add key="TiempoSessionToken" value="1" />
    <add key="ArchivoLogServicio" value="ServicioVentaCredito" />
    <add key="urlApiServicioNotificaciones" value="#{urlApiServicioNotificaciones}" />
    <add key="UrlValorDolar" value="http://www.datos.gov.co/api/id/32sa-8pi3.json?$select=`valor`,`vigenciadesde`&amp;$order=`vigenciadesde`+DESC&amp;$limit=1" />
    <add key="Parametro_Email_Cancelacion" value="PETICION_CANCELAR_ENVIO" />
    <add key="URL_API_NEGOCIO" value="#{URL_API_NEGOCIO}" />

    <add key="urlSeriviciosInter" value="#{urlSeriviciosInter}"/>
    <add key="urlServiciosController" value="#{urlApiController}"/>
    <add key="urlServiInformacion" value="#{urlServiInformacion}"/>
    <add key="urlApiPreenvios" value="#{urlApiPreenvios}"/>
    <add key="urlRecogidas" value="#{urlRecogidas}" />
    <add key="urlVentaCredito" value="#{urlVentaCredito}" />
    <add key="urlApiImpresionesMS" value="#{urlApiImpresionesMS}" />
    <add key="BODY_CORREO_CANCELACION" value="BODY_EMAIL_CANCELACION" />
    <add key="Nombre" value="#{Nombre}" />
    <add key="Ruta" value="#{Ruta}" />
    <add key="FormatoFechaISO" value="yyyy/MM/dd HH:mm:ss" />
    <add key="DiasImpresionPreenvios" value="#{DiasImpresionPreenvios}"/>
	  <add key="NombreOrigen" value="#{NombreOrigen}" />
  </appSettings>
  <efMetadataSection name="SqlClient">
    <metadatamodel name="ModeloSeguridad" metadata="res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.csdl|res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.ssdl|res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloExcepciones" metadata="res://*/Modelo.ModeloExcepciones.csdl|res://*/Modelo.ModeloExcepciones.ssdl|res://*/Modelo.ModeloExcepciones.msl" connectionString="ControllerExcepciones" />
    <metadatamodel name="ModeloVersion" metadata="res://*/Framework.Servidor.Versionamiento.Modelo.ModeloVersion.csdl|res://*/Framework.Servidor.Versionamiento.Modelo.ModeloVersion.ssdl|res://*/Framework.Servidor.Versionamiento.Modelo.ModeloVersion.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloAgenda" metadata="res://*/Modelo.ModeloAgenda.csdl|res://*/Modelo.ModeloAgenda.ssdl|res://*/Modelo.ModeloAgenda.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloParametros" metadata="res://*/Modelo.ModeloParametros.csdl|res://*/Modelo.ModeloParametros.ssdl|res://*/Modelo.ModeloParametros.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloMensajeria" metadata="res://*/Modelo.ModeloMensajeria.csdl|res://*/Modelo.ModeloMensajeria.ssdl|res://*/Modelo.ModeloMensajeria.msl" connectionString="ControllerTransaccional" />
  </efMetadataSection>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.0.0.0" newVersion="106.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web>
    <compilation />
  </system.web>
</configuration>
<!--ProjectGuid: E2FCA1A9-B2DE-40CB-B228-E323363D5770-->