<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DesModeloControlCuentas" connectionString="metadata=res://*/Modelo.ModeloControlCuentas.csdl|res://*/Modelo.ModeloControlCuentas.ssdl|res://*/Modelo.ModeloControlCuentas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=190.60.249.215,60462;initial catalog=ICONTROLLER;user id=controllerdesarrollo;Password=Desarrollo2014***;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>