<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="sispostal1Soap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="sispostal1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://190.85.35.205/ws_sispostal/service.asmx" binding="basicHttpBinding" bindingConfiguration="sispostal1Soap" contract="WSSispostal.sispostal1Soap" name="sispostal1Soap" />
      <endpoint address="http://190.85.35.205/ws_sispostal/service.asmx" binding="customBinding" bindingConfiguration="sispostal1Soap12" contract="WSSispostal.sispostal1Soap" name="sispostal1Soap12" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>