<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSControlTraficoSoap" />
                <binding name="WSControlTraficoSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webcloud2.satrack.com/WebServiceControlTrafico/WSControlTrafico.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSControlTraficoSoap"
                contract="SatrackControlTrafico.WSControlTraficoSoap" name="WSControlTraficoSoap" />
            <endpoint address="http://webcloud2.satrack.com/WebServiceControlTrafico/WSControlTrafico.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSControlTraficoSoap1"
                contract="SatrackControlTrafico.WSControlTraficoSoap" name="WSControlTraficoSoap1" />
        </client>
    </system.serviceModel>
</configuration>