<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModeloPagosManuales" connectionString="metadata=.\Modelo\ModeloPagosManuales.csdl|.\Modelo\ModeloPagosManuales.ssdl|.\Modelo\ModeloPagosManuales.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=186.117.156.246;Initial Catalog=DESARROLLO;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>