<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--URIS Servidor-->
    <add key="URIGirosServer" value="http://apitesting.interrapidisimo.co/ApiGirosPruebas/api/" />
    <add key="URIApiController" value="http://apitesting.interrapidisimo.co/apicontrollerPruebas/api/" />
    <!--<add key="URIApiController" value="http://pruebasdesarrollo.interrapidisimo.com/ApiControllerPruebas/api/" />-->
    
    <add key="URIApiImpresion" value="http://melilla:9980/RenderPdf/api/PdfCreator" />
    <add key="URIApiIntegracion" value="http://apitesting.interrapidisimo.co/apiIntegracionesPruebas/" />


    <!--sispostal-->
    <add key="UsuarioSispostal" value="TODOS" />
    <add key="PasswordSispostal" value="TODOS" />

    <!--log exception-->
    <add key="Nombre" value="Negocio" />
    <add key="Ruta" value="C:\Excepciones\" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->

  <connectionStrings>
    <!--Desarrollo-->
	  <!--<add name="ControllerExcepciones" connectionString="Server=MUNDO\DESCONTSQL;initial catalog=ControllerAuditoria;Integrated Security=True;;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ControllerTransaccional" connectionString="Server=MUNDO\DESCONTSQL;initial catalog=Icontroller;Integrated Security=True;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Sispostal" connectionString="Server=MANAGUA\PRUSISPSQL;initial catalog=DB_SISPOSTAL_RPT;user id=usrDesarrolloSYSPOSTAL;Password=Des1spo12017;MultipleActiveResultSets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />    
    <add name="ControllerArchivo" connectionString="Server=MUNDO\DESCONTSQL;initial catalog=ArchivoController;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="novasoftTransaccional" connectionString="Data Source=MUNDO\DESCONTSQL;Initial Catalog=NOVASOFT;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    
    <!--Pruebas-->
    <add name="ControllerExcepciones" connectionString="Server=MANAGUA\PRUCONTSQL;initial catalog=ControllerAuditoria;Integrated Security=True;;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ControllerTransaccional" connectionString="Server=MANAGUA\PRUCONTSQL;initial catalog=Icontroller;Integrated Security=True;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Sispostal" connectionString="Server=MANAGUA\PRUSISPSQL;initial catalog=DB_SISPOSTAL;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />   
    <add name="ControllerArchivo" connectionString="Server=MANAGUA\PRUCONTSQL;initial catalog=ArchivoController;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="novasoftTransaccional" connectionString="Data Source=serversqltest\desaic2016,1877;Initial Catalog=NOVASOFT;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <!--stg-->
    <!--<add name="ControllerExcepciones" connectionString="Server=medina\stgcontsql;initial catalog=ControllerAuditoria;Integrated Security=True;;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ControllerTransaccional" connectionString="Server=medina\stgcontsql;initial catalog=Icontroller;Integrated Security=True;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Sispostal" connectionString="Server=medina\stgsispsql;initial catalog=DB_SISPOSTAL_RPT;user id=usrDesarrolloSYSPOSTAL;Password=Des1spo12017;MultipleActiveResultSets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />    
    <add name="ControllerArchivo" connectionString="Server=medina\stgcontsql;initial catalog=ArchivoController;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="novasoftTransaccional" connectionString="Data Source=serversqltest\desaic2016,1877;Initial Catalog=NOVASOFT;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
	  <!--qa-->
	<!--<add name="ControllerExcepciones" connectionString="Server=BOGQACONTDB\QACONTSQL;initial catalog=ControllerAuditoria;Integrated Security=True;;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
	  <add name="ControllerTransaccional" connectionString="Server=BOGQACONTDB\QACONTSQL;initial catalog=Icontroller;Integrated Security=True;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
	  <add name="Sispostal" connectionString="Server=BOGQACONTDB\QASISPSQL;initial catalog=DB_SISPOSTAL;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	  <add name="ControllerArchivo" connectionString="Server=BOGQACONTDB\QACONTSQL;initial catalog=ArchivoController;Integrated Security=True;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <!--<add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE" />-->
        <add name="Access-Control-Allow-Methods" value="GET, POST" />
        <add name="Access-Control-Allow-Headers" value="*" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>-->

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="sispostal1Soap" />
      </basicHttpBinding>
      <!--<customBinding>
        <binding name="sispostal1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>-->
    </bindings>
    <client>
      <endpoint address="http://190.85.35.205:85/ws_sispostal/service.asmx" binding="basicHttpBinding" bindingConfiguration="sispostal1Soap" contract="WSSispostal.sispostal1Soap" name="sispostal1Soap" />

      <!--<endpoint address="http://190.85.35.205/ws_sispostal/service.asmx"
          binding="customBinding" bindingConfiguration="sispostal1Soap12"
          contract="WSSispostal.sispostal1Soap" name="sispostal1Soap12" />-->
    </client>
  </system.serviceModel>
</configuration>