<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="efMetadataSection" type="Framework.Servidor.Comun.COMetadataConfigurationSectionFramework, NFramework.Servidor.Comun" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>

    <!--Desarrollo-->
    <!--<add name="ControllerTransaccional" connectionString="server=MUNDO\DESCONTSQL;initial catalog=Icontroller;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
    <add name="ConnectionSeguridad" connectionString="server=MUNDO\DESCONTSQL;initial catalog=ISeguridad;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient" />
    <add name="ControllerExcepciones" connectionString="server=MUNDO\DESCONTSQL;initial catalog=ControllerAuditoria;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient" />
    <add name="INegocio" connectionString="server=MUNDO\DESCONTSQLL;initial catalog=INegocio;Integrated Security=True" />
    <add name="Preenvios" connectionString="Server=MUNDO\DESCONTSQL;Database=PreEnvios; Integrated Security = true;" />-->

    <!--Pruebas-->
	  <add name="ControllerTransaccional" connectionString="server=PRUWDBSCONTRMON\PRUCONTSQL;initial catalog=Icontroller;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
	  <add name="EstructuraNegocio" connectionString="server=PRUWDBSCONTRMON\PRUCONTSQL;initial catalog=EstructuraNegocio;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
	  <add name="ConnectionSeguridad" connectionString="server=PRUWDBSSISPMON\PRUSISPSQL;initial catalog=ISeguridad;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient" />
	  <add name="ControllerExcepciones" connectionString="server=PRUWDBSCONTRMON\PRUCONTSQL;initial catalog=ControllerAuditoria;Integrated Security=True;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient" />
	  <add name="INegocio" connectionString="server=PRUWDBSCONTRMON\PRUCONTSQL;initial catalog=INegocio;Integrated Security=True" />
	  <add name="Preenvios" connectionString="Server=PRUWDBSCONTRMON\PRUCONTSQL;Database=PreEnvios; Integrated Security = true;" />

	  <!--staging-->
    <!--<add name="ControllerTransaccional" connectionString="server=MEDINA\stgCONTSQL;initial catalog=Icontroller;Integrated Security=True;multipleactiveresultsets=true;app=apiventacredito" providerName="system.data.sqlclient"/>
		<add name="ConnectionSeguridad" connectionString="server=medina\stgSISPSQL;initial catalog=ISeguridad;Integrated Security=True;multipleactiveresultsets=true;app=apiventacredito" providerName="System.Data.SqlClient"/>
		<add name="ControllerExcepciones" connectionString="server=MEDINA\STGCONTSQL;initial catalog=ControllerAuditoria;Integrated Security=True;multipleactiveresultsets=true;app=apiventacredito" providerName="System.Data.SqlClient"/>
		<add name="INegocio" connectionString="server=MEDINA\STGCONTSQL;initial catalog=INegocio;Integrated Security=True;multipleactiveresultsets=true;app=apiventacredito"/>
		<add name="Preenvios" connectionString="Server=MEDINA\\STGCONTSQL;Database=PreEnvios; Integrated Security = true;"/>-->

    <!--QA-->
    <!--<add name="ControllerTransaccional" connectionString="Server=BOGDT01SVRDB01P\QACONTSQL;initial catalog=ICONTROLLER;Integrated Security=True;multipleactiveresultsets=True;;App=ApiVentaCreditoQA" providerName="System.Data.SqlClient" />
		<add name="ConnectionSeguridad" connectionString="Server=BOGDT01SVRDB01P\QASISPSQL;initial catalog=ISEGURIDAD;Integrated Security=True;multipleactiveresultsets=True;;App=ApiVentaCreditoQA" providerName="System.Data.SqlClient" />
		<add name="ControllerExcepciones" connectionString="Server=BOGDT01SVRDB01P\QACONTSQL;initial catalog=ControllerAuditoria;Integrated Security=True;multipleactiveresultsets=True;;App=ApiVentaCreditoQA" providerName="System.Data.SqlClient" />
		<add name="INegocio" connectionString="server=BOGDT01SVRDB01P\QACONTSQL;initial catalog=INegocio;Integrated Security=True; Application Name=ApiVentaCreditoQA" />
		<add name="Preenvios" connectionString="server=BOGDT01SVRDB01P\QACONTSQL;initial catalog=PreEnvios;Integrated Security=True; Application Name=ApiVentaCreditoQA" />
		<add name="EstructuraNegocio" connectionString="server=BOGDT01SVRDB01P\QACONTSQL;initial catalog=EstructuraNegocio;Integrated Security=True;multipleactiveresultsets=true;app=ApiVentaCreditoQA" providerName="system.data.sqlclient"/>-->

    <!--Produccion-->
    <!--<add name="ControllerTransaccional" connectionString="server=BOGPROCONTDB\PROCONTSQL;initial catalog=Icontroller;Integrated Security=True;multipleactiveresultsets=true;app=ApiVentaCredito" providerName="system.data.sqlclient" />
    <add name="ConnectionSeguridad" connectionString="server=BOGPROSISPDB\PROSISPSQL;initial catalog=ISeguridad;Integrated Security=True;multipleactiveresultsets=true;app=ApiVentaCredito" providerName="System.Data.SqlClient" />
    <add name="ControllerExcepciones" connectionString="server=BOGPROCONTDB\PROCONTSQL;initial catalog=ControllerAuditoria;Integrated Security=True;multipleactiveresultsets=true;app=ApiVentaCredito" providerName="System.Data.SqlClient" />
    <add name="INegocio" connectionString="server=BOGPROCONTDB\PROCONTSQL;initial catalog=INegocio;Integrated Security=True;app=ApiVentaCredito" />
    <add name="Preenvios" connectionString="server=BOGPROCONTDB\PROCONTSQL;initial catalog=PreEnvios;Integrated Security=True; Application Name=ApiVentaCreditoQA" />
    <add name="EstructuraNegocio" connectionString="server=BOGPROCONTDB\PROCONTSQL;initial catalog=EstructuraNegocio;Integrated Security=True;multipleactiveresultsets=true;app=ApiVentaCreditoQA" providerName="system.data.sqlclient" />-->

  </connectionStrings>
  <appSettings>
    <!--Tiempo en dias-->
    <add key="TiempoSessionToken" value="1" />
    <add key="ArchivoLogServicio" value="ServicioVentaCredito" />
    <add key="urlApiServicioNotificaciones" value="http://localhost/Servicio.Notificaciones/" />
    <add key="UrlValorDolar" value="http://www.datos.gov.co/api/id/32sa-8pi3.json?$select=`valor`,`vigenciadesde`&amp;$order=`vigenciadesde`+DESC&amp;$limit=1" />
    <add key="Parametro_Email_Cancelacion" value="PETICION_CANCELAR_ENVIO" />
    <add key="URL_API_NEGOCIO" value="https://localhost:44318/api" />
    <add key="DiasImpresionPreenvios" value="3" />
    <!--Desarrollo-->
    <!--<add key="urlApiPreenvios" value="https://localhost:44337/"/>
		<add key="urlRecogidas" value="http://localhost:60881/" />
		<add key="urlVentaCredito" value="http://localhost/VentaCredito.Sitio/" />
		<add key="urlApiImpresionesMS" value="https://localhost:44345/" />
    <add key="urlServiciosController" value="https://localhost/CO.Servidor.Servicios.WebApi/" />-->

    <!--Pruebas-->
    <!--<add key="urlSeriviciosInter" value="https://apitesting.interrapidisimo.co/ApiServInterPruebas/" />
		<add key="urlServiciosController" value="https://apitesting.interrapidisimo.co/ftIntegracion010/ApiControllerPruebas/" />
		<add key="urlServiInformacion" value="https://apitesting.interrapidisimo.co/ApiIntegracionesPruebas/" />
		<add key="urlApiPreenvios" value="https://apitesting.interrapidisimo.co/ftIntegracion010/ApiPreenviosPruebas/" />
		<add key="urlRecogidas" value="https://apitesting.interrapidisimo.co/ftIntegracion010/ApiRecogidasPruebas/" />
		<add key="urlVentaCredito" value="https://apitesting.interrapidisimo.co/apiventacredito010" />
		<add key="urlApiImpresionesMS" value="https://apitesting.interrapidisimo.co/ftIntegracion010/ImpresionesMS/" />-->

    <!--STG-->
    <!--<add key="urlSeriviciosInter" value="http://stgwww3.interrapidisimo.com/ApiServInterSTG/"/>
		<add key="urlServiciosController" value="http://stgwww3.interrapidisimo.com/ftIntegracion010/SvcControllerSTG/"/>
		<add key="urlServiInformacion" value="http://stgwww3.interrapidisimo.com/ApiIntegracionesstg/"/>
		<add key="urlApiPreenvios" value="http://stgwww3.interrapidisimo.com/ftIntegracion010/ApiPreenviosSTG/"/>
		<add key="urlRecogidas" value="http://stgwww3.interrapidisimo.com/ApiRecogidas/"/>
		<add key="urlVentaCredito" value="http://stgwww3.interrapidisimo.com/apiventacredito010/" />
		<add key="urlApiImpresionesMS" value="http://stgwww3.interrapidisimo.com/ftIntegracion010/MSImpresionesSTG/" />
		-->

    <!--QA-->
    <!--<add key="urlSeriviciosInter" value="https://qawww3.interrapidisimo.co/ApiServInterQA/"/>
		<add key="urlServiciosController" value="https://qawww3.interrapidisimo.co/ApiControllerQA/"/>
		<add key="urlServiInformacion" value="https://qawww3.interrapidisimo.co/ApiIntegracionQA/"/>
		<add key="urlApiPreenvios" value="https://qawww3.interrapidisimo.co/ApiPreenvioQA/"/>
		<add key="urlRecogidas" value="https://qawww3.interrapidisimo.co/ApiRecogidasQA/" />
		<add key="urlVentaCredito" value="https://qawww3.interrapidisimo.co/ApiVentaCreditoQA/" />
		<add key="urlApiImpresionesMS" value="https://qawww3.interrapidisimo.co/MsImpresionesQA/" />-->

    <!--Produccion-->
    <add key="urlSeriviciosInter" value="https://www3.interrapidisimo.com/ApiServInter/" />
    <add key="urlServiciosController" value="https://www3.interrapidisimo.com/Apicontroller/" />
    <add key="urlApiImpresionesMS" value="https://www3.interrapidisimo.com/MsImpresiones/" />
    <add key="urlApiPreenvios" value="https://www3.interrapidisimo.com/ApiPreenvio/" />
    <add key="urlServiInformacion" value="https://www3.interrapidisimo.com/ApiIntegracion/" />
    <add key="urlRecogidas" value="https://www3.interrapidisimo.com/ApiRecogidas/" />
    <add key="urlVentaCredito" value="https://www3.interrapidisimo.com/ApiVentaCredito/" />


    <add key="BODY_CORREO_CANCELACION" value="BODY_EMAIL_CANCELACION" />
    <add key="Nombre" value="VentaDirectTV" />
    <add key="Ruta" value="C:\logExcepciones\" />
    <add key="FormatoFechaISO" value="yyyy/MM/dd HH:mm:ss" />
  </appSettings>
  <efMetadataSection name="SqlClient">
    <metadatamodel name="ModeloSeguridad" metadata="res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.csdl|res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.ssdl|res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloExcepciones" metadata="res://*/Modelo.ModeloExcepciones.csdl|res://*/Modelo.ModeloExcepciones.ssdl|res://*/Modelo.ModeloExcepciones.msl" connectionString="ControllerExcepciones" />
    <metadatamodel name="ModeloVersion" metadata="res://*/Framework.Servidor.Versionamiento.Modelo.ModeloVersion.csdl|res://*/Framework.Servidor.Versionamiento.Modelo.ModeloVersion.ssdl|res://*/Framework.Servidor.Versionamiento.Modelo.ModeloVersion.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloAgenda" metadata="res://*/Modelo.ModeloAgenda.csdl|res://*/Modelo.ModeloAgenda.ssdl|res://*/Modelo.ModeloAgenda.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloParametros" metadata="res://*/Modelo.ModeloParametros.csdl|res://*/Modelo.ModeloParametros.ssdl|res://*/Modelo.ModeloParametros.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloMensajeria" metadata="res://*/Modelo.ModeloMensajeria.csdl|res://*/Modelo.ModeloMensajeria.ssdl|res://*/Modelo.ModeloMensajeria.msl" connectionString="ControllerTransaccional" />
  </efMetadataSection>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <!--<system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>-->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="http://localhost:4200" />
					<add name="Access-Control-Allow-Headers" value="Content-Type" />
					<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
					<add name="Access-Control-Allow-Credentials" value="true" />-->
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.0.0.0" newVersion="106.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>