<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CO.Servidor.Integraciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      
      
    </sectionGroup>
        
      <section name="efMetadataSection" type="Framework.Servidor.Comun.COMetadataConfigurationSectionFramework, Framework.Servidor.Comun" />
      <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    
  </configSections>
  <connectionStrings>
    <add name="ControllerExcepciones" connectionString="Server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=ControllerAuditoria;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ControllerTransaccional" connectionString="Server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=Icontroller;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="rapsTransaccional" connectionString="server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=Raps2;user id=UsrPreProd; password=usrPreProd2016;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
    <add name="LDAPConnection" connectionString="LDAP://interrapidisimo.local/OU=interrapidisimo.com,DC=interrapidisimo,DC=local" providerName="" />
    <add name="ControllerArchivo" connectionString="Server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=ArchivoController;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ControllerTiempoDigitalizacionArchivo" connectionString="Server=172.20.10.157,1433;initial catalog=Reportes;user id=usrbdmaster; password=InterS1st3m4s2014*-+;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConSincronizacion" connectionString="Server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=Icontroller;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="PorController" connectionString="Server=poscontroller;initial catalog=Icontroller;user id=usrbdmaster; password=InterS1st3m4s2014*-+;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="Sispostal" connectionString="Server=NODOB\REPORTESBI;initial catalog=DB_SISPOSTAL_RPT;user id=usrDesarrolloSYSPOSTAL;Password=Des1spo12017;MultipleActiveResultSets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConnectionSeguridad" connectionString="server=SERVERSQLTEST\TESTIC2016,1527;initial catalog=ISeguridad;user id=UsrPreProd;Password=usrPreProd2016;multipleactiveresultsets=true;app=entityframework" providerName="System.Data.SqlClient" />
    <add name="novasoftTransaccional" connectionString="Data Source=serversqltest\desaic2016,1877;Initial Catalog=NOVASOFT;Integrated Security=True;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <efMetadataSection name="SqlClient">
    <metadatamodel name="ModeloSeguridad" metadata="res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.csdl|res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.ssdl|res://*/Framework.Servidor.Seguridad.Datos.Modelo.ModeloSeguridad.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloExcepciones" metadata="res://*/Modelo.ModeloExcepciones.csdl|res://*/Modelo.ModeloExcepciones.ssdl|res://*/Modelo.ModeloExcepciones.msl" connectionString="ControllerExcepciones" />
    <metadatamodel name="ModeloVersion" metadata="res://*/Modelo.ModeloVersion.csdl|res://*/Modelo.ModeloVersion.ssdl|res://*/Modelo.ModeloVersion.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloAgenda" metadata="res://*/Modelo.ModeloAgenda.csdl|res://*/Modelo.ModeloAgenda.ssdl|res://*/Modelo.ModeloAgenda.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloAgencias" metadata="res://*/Modelo.ModeloAgencias.csdl|res://*/Modelo.ModeloAgencias.ssdl|res://*/Modelo.ModeloAgencias.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloParametros" metadata="res://*/Modelo.ModeloParametros.csdl|res://*/Modelo.ModeloParametros.ssdl|res://*/Modelo.ModeloParametros.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloMensajeria" metadata="res://*/Framework.Servidor.Mensajeria.Datos.Modelo.ModeloMensajeria.csdl|res://*/Framework.Servidor.Mensajeria.Datos.Modelo.ModeloMensajeria.ssdl|res://*/Framework.Servidor.Mensajeria.Datos.Modelo.ModeloMensajeria.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloTarifas" metadata="res://*/CO.Servidor.Tarifas.Datos.Modelo.ModeloTarifas.csdl|res://*/CO.Servidor.Tarifas.Datos.Modelo.ModeloTarifas.ssdl|res://*/CO.Servidor.Tarifas.Datos.Modelo.ModeloTarifas.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloCentroServicios" metadata="res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.csdl|res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.ssdl|res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ImportacionEntities" metadata="res://*/Modelo.ModeloImportacion.csdl|res://*/Modelo.ModeloImportacion.ssdl|res://*/Modelo.ModeloImportacion.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloClientes" metadata=" res://*/CO.Servidor.Clientes.Datos.Modelo.ModeloClientes.csdl|res://*/CO.Servidor.Clientes.Datos.Modelo.ModeloClientes.ssdl|res://*/CO.Servidor.Clientes.Datos.Modelo.ModeloClientes.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloCentroServicios" metadata="res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.csdl|res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.ssdl|res://*/CO.Servidor.CentroServicios.Datos.Modelo.ModeloCentroServicios.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloVentaGiros" metadata="res://*/CO.Servidor.Admisiones.Giros.Datos.Modelo.ModeloVentaGiros.csdl|res://*/CO.Servidor.Admisiones.Giros.Datos.Modelo.ModeloVentaGiros.ssdl|res://*/CO.Servidor.Admisiones.Giros.Datos.Modelo.ModeloVentaGiros.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloSolicitudes" metadata="res://*/CO.Servidor.Solicitudes.Datos.Modelo.ModeloSolicitudes.csdl|res://*/CO.Servidor.Solicitudes.Datos.Modelo.ModeloSolicitudes.ssdl|res://*/CO.Servidor.Solicitudes.Datos.Modelo.ModeloSolicitudes.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloSuministros" metadata="res://CO.Servidor.Suministros.Datos/Modelo.ModeloSuministros.csdl|res://CO.Servidor.Suministros.Datos/Modelo.ModeloSuministros.ssdl|res://CO.Servidor.Suministros.Datos/Modelo.ModeloSuministros.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="EntidadesAdmisionesMensajeria" metadata="res://*/CO.Servidor.Adminisiones.Mensajeria.Datos.Modelo.ModeloAdmisionesMensajeria.csdl|res://*/CO.Servidor.Adminisiones.Mensajeria.Datos.Modelo.ModeloAdmisionesMensajeria.ssdl|res://*/CO.Servidor.Adminisiones.Mensajeria.Datos.Modelo.ModeloAdmisionesMensajeria.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloComisiones" metadata="res://*/CO.Servidor.Comisiones.Datos.Modelo.ModeloComisiones.csdl|res://*/CO.Servidor.Comisiones.Datos.Modelo.ModeloComisiones.ssdl|res://*/CO.Servidor.Comisiones.Datos.Modelo.ModeloComisiones.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloOperacionUrbana" metadata="res://*/CO.Servidor.OperacionUrbana.Datos.Modelo.ModeloOperacionUrbana.csdl|res://*/CO.Servidor.OperacionUrbana.Datos.Modelo.ModeloOperacionUrbana.ssdl|res://*/CO.Servidor.OperacionUrbana.Datos.Modelo.ModeloOperacionUrbana.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloRutas" metadata="res://*/CO.Servidor.Rutas.Datos.Modelo.ModeloRutas.csdl|res://*/CO.Servidor.Rutas.Datos.Modelo.ModeloRutas.ssdl|res://*/CO.Servidor.Rutas.Datos.Modelo.ModeloRutas.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloCajas" metadata="res://*/CO.Servidor.Cajas.Datos.Modelo.ModeloCajas.csdl|res://*/CO.Servidor.Cajas.Datos.Modelo.ModeloCajas.ssdl|res://*/CO.Servidor.Cajas.Datos.Modelo.ModeloCajas.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloLogisticaInversa" metadata="res://*/CO.Servidor.LogisticaInversa.Datos.Modelo.ModeloLogisticaInversa.csdl|res://*/CO.Servidor.LogisticaInversa.Datos.Modelo.ModeloLogisticaInversa.ssdl|res://*/CO.Servidor.LogisticaInversa.Datos.Modelo.ModeloLogisticaInversa.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloParametrosOperacion" metadata="res://*/Modelo.ModeloParametrosOperacion.csdl|res://*/Modelo.ModeloParametrosOperacion.ssdl|res://*/Modelo.ModeloParametrosOperacion.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloExploradorGiros" metadata="res://*/CO.Servidor.ExploradorGiros.Datos.Modelo.ModeloExploradorGiros.csdl|res://*/CO.Servidor.ExploradorGiros.Datos.Modelo.ModeloExploradorGiros.ssdl|res://*/CO.Servidor.ExploradorGiros.Datos.Modelo.ModeloExploradorGiros.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="EstadosGuiaEntities" metadata="res://*/CO.Servidor.Dominio.Comun.AdmEstadosGuia.Datos.Modelo.ModeloEstadoGuia.csdl|res://*/CO.Servidor.Dominio.Comun.AdmEstadosGuia.Datos.Modelo.ModeloEstadoGuia.ssdl|res://*/CO.Servidor.Dominio.Comun.AdmEstadosGuia.Datos.Modelo.ModeloEstadoGuia.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloOperacionNacional" metadata="res://*/Modelo.ModeloOperacionNacional.csdl|res://*/Modelo.ModeloOperacionNacional.ssdl|res://*/Modelo.ModeloOperacionNacional.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloProduccion" metadata="res://*/CO.Servidor.Produccion.Datos.Modelo.ModeloProduccion.csdl|res://*/CO.Servidor.Produccion.Datos.Modelo.ModeloProduccion.ssdl|res://*/CO.Servidor.Produccion.Datos.Modelo.ModeloProduccion.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloReportes" metadata="res://*/Framework.Servidor.Reportes.Datos.Modelo.ModeloReportes.csdl|res://*/Framework.Servidor.Reportes.Datos.Modelo.ModeloReportes.ssdl|res://*/Framework.Servidor.Reportes.Datos.Modelo.ModeloReportes.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloPagosManuales" metadata="res://*/CO.Servidor.PagosManuales.Datos.Modelo.ModeloPagosManuales.csdl|res://*/CO.Servidor.PagosManuales.Datos.Modelo.ModeloPagosManuales.ssdl|res://*/CO.Servidor.PagosManuales.Datos.Modelo.ModeloPagosManuales.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloFacturacion" metadata="res://*/CO.Servidor.Facturacion.Datos.Modelo.ModeloFacturacion.csdl|res://*/CO.Servidor.Facturacion.Datos.Modelo.ModeloFacturacion.ssdl|res://*/CO.Servidor.Facturacion.Datos.Modelo.ModeloFacturacion.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloControlCuentas" metadata="res://*/CO.Servidor.ControlCuentas.Datos.Modelo.ModeloControlCuentas.csdl|res://*/CO.Servidor.ControlCuentas.Datos.Modelo.ModeloControlCuentas.ssdl|res://*/CO.Servidor.ControlCuentas.Datos.Modelo.ModeloControlCuentas.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloReglasLogisticaInversa" metadata="res://*/CO.Servidor.LogisticaInversa.Reglas.Modelo.ModeloReglasLogisticaInversa.csdl|res://*/CO.Servidor.LogisticaInversa.Reglas.Modelo.ModeloReglasLogisticaInversa.ssdl|res://*/CO.Servidor.LogisticaInversa.Reglas.Modelo.ModeloReglasLogisticaInversa.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloConfiguracionGiros" metadata="res://*/CO.Servidor.GestionGiros.Configuracion.Datos.Modelo.ModeloConfiguracionGiros.csdl|res://*/CO.Servidor.GestionGiros.Configuracion.Datos.Modelo.ModeloConfiguracionGiros.ssdl|res://*/CO.Servidor.GestionGiros.Configuracion.Datos.Modelo.ModeloConfiguracionGiros.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloAreas" metadata="res://*/CO.Servidor.Areas.Datos.Modelo.ModeloAreas.csdl|res://*/CO.Servidor.Areas.Datos.Modelo.ModeloAreas.ssdl|res://*/CO.Servidor.Areas.Datos.Modelo.ModeloAreas.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloTelemercadeoGiros" metadata="res://*/CO.Servidor.Telemercadeo.Giros.Datos.Modelo.ModeloTelemercadeoGiros.csdl|res://*/CO.Servidor.Telemercadeo.Giros.Datos.Modelo.ModeloTelemercadeoGiros.ssdl|res://*/CO.Servidor.Telemercadeo.Giros.Datos.Modelo.ModeloTelemercadeoGiros.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloServicioalCliente" metadata="res://*/CO.Servidor.ServicioalCliente.Datos.Modelo.ModeloServicioalCliente.csdl|res://*/CO.Servidor.ServicioalCliente.Datos.Modelo.ModeloServicioalCliente.ssdl|res://*/CO.Servidor.ServicioalCliente.Datos.Modelo.ModeloServicioalCliente.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloEstadosConsolidados" metadata="res://*/Datos.Modelo.ModeloEstadosConsolidados.csdl|res://*/Datos.Modelo.ModeloEstadosConsolidados.ssdl|res://*/Datos.Modelo.ModeloEstadosConsolidados.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloCuatroSieteDos" metadata="res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.csdl|res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.ssdl|res://*/AccesoDatos.DALCuatroSieteDos.Modelo.ModeloCuatroSieteDos.msl" connectionString="ControllerTransaccional" />
  </efMetadataSection>
  <applicationSettings>
    <CO.Servidor.Integraciones.Properties.Settings>
      <setting name="CO_Servidor_Integraciones_WRSispostal_sispostal1"
          serializeAs="String">
        <value>http://190.85.35.205/ws_sispostal/service.asmx</value>
      </setting>
    </CO.Servidor.Integraciones.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSSeguridadSoapBinding">
          <security mode="None" />
        </binding>
        <binding name="WSSeguridadSoapBinding1" />
        <binding name="sispostal1Soap" />
        <binding name="WSControlTraficoSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="sispostal1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://proxynp.unique-yanbal.com/integraciontest/WSSeguridadWeb/WSSeguridadService"
        binding="basicHttpBinding" bindingConfiguration="WSSeguridadSoapBinding"
        contract="ServicioSeguridadYanbal.WSSeguridadTokenImpl" />
      <endpoint address="http://190.85.35.205/ws_sispostal/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="sispostal1Soap"
        contract="WSSispostal.sispostal1Soap" name="sispostal1Soap" />
      <endpoint address="http://190.85.35.205/ws_sispostal/service.asmx"
        binding="customBinding" bindingConfiguration="sispostal1Soap12"
        contract="WSSispostal.sispostal1Soap" name="sispostal1Soap12" />
      <endpoint address="http://webcloud.satrack.com/WebServiceControlTrafico/WSControlTrafico.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSControlTraficoSoap"
        contract="ServicioTraficoSatrack.WSControlTraficoSoap" name="WSControlTraficoSoap" />
    </client>
  </system.serviceModel>
  <system.net>
    <defaultProxy enabled="false">
    </defaultProxy>
  </system.net>
</configuration>
