<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="efMetadataSection" type="Framework.Servidor.Comun.COMetadataConfigurationSectionFramework, Framework.Servidor.Comun"/>
  </configSections>
  <appSettings>
    <add key="Controller.LDAP.ConnectionUsername" value="controller0\Pruebas" />
    <add key="Controller.LDAP.ConnectionPassword" value="p123456789+" />
    <add key="Controller.LDAP.AttributeMapUsername" value="SAMAccountName" />
    <add key="controller.MaximoRequestAuditoria" value="1" />
    <add key="Controller.RutaDescargaArchivos" value="C:\archivosDescargados"/>
  </appSettings>
  <efMetadataSection name="SqlClient" >
    <metadatamodel name="ModeloSeguridad" metadata="res://*/Modelo.ModeloSeguridad.csdl|res://*/Modelo.ModeloSeguridad.ssdl|res://*/Modelo.ModeloSeguridad.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloExcepciones" metadata="res://*/Modelo.ModeloExcepciones.csdl|res://*/Modelo.ModeloExcepciones.ssdl|res://*/Modelo.ModeloExcepciones.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloVersion" metadata="res://*/Modelo.ModeloVersion.csdl|res://*/Modelo.ModeloVersion.ssdl|res://*/Modelo.ModeloVersion.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloAgenda" metadata="res://*/Modelo.ModeloAgenda.csdl|res://*/Modelo.ModeloAgenda.ssdl|res://*/Modelo.ModeloAgenda.msl" connectionString="ControllerTransaccional" />
    <metadatamodel name="ModeloParametros" metadata="res://*/Modelo.ModeloParametros.csdl|res://*/Modelo.ModeloParametros.ssdl|res://*/Modelo.ModeloParametros.msl" connectionString="ControllerTransaccional" />

  </efMetadataSection>

  <connectionStrings>
    <add name="ControllerTransaccional" connectionString="Server=controller;initial catalog=DESARROLLO;integrated security=True;multipleactiveresultsets=True;;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LDAPConnection" connectionString="LDAP://controller.com/CN=Users,DC=controller,DC=com" providerName="" />
  </connectionStrings>

</configuration>