<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModeloSolicitudes" connectionString="metadata=res://*/Modelo.ModeloSolicitudes.csdl|res://*/Modelo.ModeloSolicitudes.ssdl|res://*/Modelo.ModeloSolicitudes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=190.60.249.215,60462;initial catalog=ICONTROLLER; user id=controllerdesarrollo;Password=Desarrollo2014*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>