<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CO.Servidor.Servicios.ContratoDatos" version="1.0.2" targetFramework="net48" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net48" />
  <package id="Framework.Servidor.Comun" version="1.0.75.1117" targetFramework="net48" />
  <package id="Framework.Servidor.Servicios.ContratoDatos" version="1.0.0.1" targetFramework="net48" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net48" />
  <package id="RestSharp" version="105.2.3" targetFramework="net48" />
  <package id="WPF.Comun" version="2.6.1.1003" targetFramework="net48" />
  <package id="WPF.Comun.Controles" version="1.0.1" targetFramework="net48" />
  <package id="WPF.Comun.EntidadesNegocio" version="1.0.2" targetFramework="net48" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net48" />
  <package id="WPFToolkit.DataVisualization" version="3.5.50211.1" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net48" />
</packages>