<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModeloOperacionNacional" connectionString="metadata=res://*/Modelo.ModeloOperacionNacional.csdl|res://*/Modelo.ModeloOperacionNacional.ssdl|res://*/Modelo.ModeloOperacionNacional.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=serversqltest\desaic2016,1877;initial catalog=ICONTROLLER;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>