<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
     <add name="EntidadesExploradorGiros" connectionString="metadata=res://*/Modelo.ModeloExploradorGiros.csdl|res://*/Modelo.ModeloExploradorGiros.ssdl|res://*/Modelo.ModeloExploradorGiros.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=190.60.249.215,60462;initial catalog=ICONTROLLERDESA;persist security info=True;user id=controllerdesarrollo;password=Desarrollo2014*.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>