<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntidadesTarifas" connectionString="metadata=res://*/Modelo.ModeloTarifas.csdl|res://*/Modelo.ModeloTarifas.ssdl|res://*/Modelo.ModeloTarifas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=190.60.249.215,60462;initial catalog=ICONTROLLER2014;persist security info=True;user id=controllerdesarrollo;password=Desarrollo2014***;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>