<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModeloConfiguracionGiros" connectionString="metadata=.\Modelo\ModeloConfiguracionGiros.csdl|.\Modelo\ModeloConfiguracionGiros.ssdl|.\Modelo\ModeloConfiguracionGiros.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=controller;Initial Catalog=DESARROLLO;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>